{% extends 'base.html' %} {% block content %}
<h1>Welcome to Wish List Shop!</h1>
<h2>Please sign up to create your Wish List!</h2>
<a href="/signup">Sign up</a>
<h2>
  Have an account? Please <a href="/login">login</a> to continue working on your
  Wish List
</h2>
<h3>What is Wish List Shop?</h3>
<p>
  The Wish List Shop is where you can come to search for your dream items and
  add them to a curated page of items you choose - your Wish List. Create
  multiple Wish Lists to make it easy to organize or have all of your items in
  one large list for you to keep coming back to. The options are endless to make
  this your own.
</p>
{% endblock %}
