{% extends 'base.html' %} {% block content %}
<div class="home-hero">
  <h1>Welcome!</h1>
  <h4>New to Wish List Shop?</h4>
  <p>Sign up now to start creating!</p>
  <a href="/signup" class="btn btn-primary">Sign up</a>
</div>
<div class="home-hero">
  <h4>
    Have an account?
    <a href="/login" class="btn btn-primary">login</a>
  </h4>
</div>
<h4>What is Wish List Shop?</h4>
<p>
  The Wish List Shop is where you can come to search for your dream items and
  add them to a curated page of items you choose - your Wish List. Create
  multiple Wish Lists to make it easy to organize or have all of your items in
  one large list for you to keep coming back to. The options are endless to make
  this your own.
</p>
{% endblock %}
