{% extends 'base.html' %} {% block content %}
<h1>Create a Wish List!</h1>

<form method="POST">
  {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
  'hidden' %}
  <p>
    {{ field.label }} {{ field(class_="form-control") }} {% for error in
    field.errors %}
    <span class="form-text text-danger">{{ error }}</span>
    {% endfor %}
  </p>
  {% endfor %}
  <button class="btn btn-primary btn-sm btn-block">Create</button>
</form>
{% if 'username' in session %}
<a
  href="/users/{{ user.username }}/update"
  class="btn btn-primary btn-sm btn-block"
>
  Edit profile
</a>
{% endif %} {% for wishlist in wishlist %}
<li class="list-group-item"></li>
  <a href="/users/{{ wishlist.id }}" class="btn btn-primary btn-sm btn-block">
  </a>
</li>
{% endfor %} {% endblock %}
