{% extends 'base.html' %} {% block content %}
<h1>Search items to add to your {{ wishlist.name }} Wish List</h1>

<form method="POST">
  {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
  'hidden' %}
  <p>
    {{ field.label }} {{ field(class_="form-control") }} {% for error in
    field.errors %}
    <span class="form-text text-danger">{{ error }}</span>
    {% endfor %}
  </p>
  {% endfor %}
  <button class="btn btn-primary btn-sm btn-block">Search</button>
</form>

<div class="container">
  <h1 class="display-3">{{wishlist.name}} Wish List</h1>
  <table class="table table-striped">
    <thead class="thead-dark">
      <th>Items</th>
    </thead>
    <tbody>
      {% for item in wishlist.item %}
      <tr>
        <td>{{ item.name }} <img src="{{ item.url }}" /></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
